nav li{display: inline; background-color: white;}
nav li a{color: black}
input{border-radius: 5%;}
body{
    background-color: rgb(141, 141, 141);
    color: black;

}

form {
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}
